.letra {
font-size: small;
}

.header{
    color: lightskyblue;
}

.text-start{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.text-end{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}


.button-cadastra{
    float: right;
    margin-top: 35px;
    margin-right: 12px;
    padding: 12px 65px;
}

.text-nome-turma{
    float: left;
    margin-top: 35px;
    margin-left: 12px;
    padding: 12px 65px;
}